* {
	margin: 0;
    padding: 0;
	
}

.header{
	height: 62px;
	background-color: #075CB5;
	width: 	100%;
}

.header-test{
	color:#FFFFFF;
}

.text-italic{
	font-style: italic;
	font-family: PT Sans;
}

ul{
	list-style: none;
}

.table{
	color:#000000;
}



#footer{
	max-width:728px;
}